#components-layout-demo-top-side-2 {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background-color: aqua;
    /* background: rgba(255, 255, 255, 0.3); */
}

.logo {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aqua;
    font-weight: 600;
    font-size: 20px;
    background-color: black;
}

.ant-row-rtl #components-layout-demo-top-side-2 {
    float: right;
    margin: 16px 0 16px 24px;
}

.site-layout-background {
    background: #fff;
}

p {
    margin-right: 12px;
    margin-left: 8px;
    display: inline;
}

.arraydiv {
    max-height: 100px;
    overflow: auto;
}

.menu::-webkit-scrollbar {
    display: none;
}

.content {
    padding: 24px;
    margin: 0px;
    min-height: 280px;
    max-height: 80vh;
    overflow-y: auto;
}

/* .content::-webkit-scrollbar {
    display: none;
} */

.arraydiv::-webkit-scrollbar {
    display: none;
}

.site-layout-background {
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
        rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
        rgb(0 0 0 / 9%) 0px -3px 5px;
}
